<?xml version="1.0"?>
<config tipo="aaa">

	<datafile2>D:\\Facultad\\Tesis\\nicotournetesis_svn\\source\\data\\datos_small.xml</datafile2>

	<datafile>D:\\Facultad\\Tesis\\nicotournetesis_svn\\source\\data\\CABS120k08-1.0.xml</datafile>

	<destfile>D:\\Facultad\\Tesis\\nicotournetesis_svn\\source\\data\\dest.csv</destfile>
	
	<arfffile>D:\\Facultad\\Tesis\\nicotournetesis_svn\\source\\data\\data25k.arff</arfffile>
	
	<arffdatafile>D:\\Facultad\\Tesis\\nicotournetesis_svn\\source\\data\\onlydata.arff</arffdatafile>
	
	<csvcolumns>url,search/query,inlink/anchor_text,bookmark/tags,category/name</csvcolumns>
	
	<arffattributes>query real;class</arffattributes>
	
	<docsMax>130000</docsMax>
	
	<mincatcount>100</mincatcount>
	
</config>